# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Files that cannot be made public hehehe
data/*.csv
data/aseg_volume.csv
data/Data_preparation.ipynb
data/Data_preparation_long.ipynb
data/Data_exploration_blood.ipynb

# Other files
poster/
old_scripts/
svg_figures/
cortical_experiments/glm_output/
cortical_experiments/processed_files/
cortical_experiments/freefiles/
cortical_experiments/LOGS/
cortical_experiments/hpc_scripts/
cortical_experiments/subjects_experiments.csv
cortical_experiments/cluster_data.csv
cortical_experiments/script_new_metadata.csv

# Ignore test things about LEASpy
data/data_leaspy.txt
data/prepare_long.ipynb
data/prepare_long.py

# Future files not needed right now
long_experiments/
results/

# Images que no venen a cuento
jupyter-experiments/*.eps
jupyter-experiments/*.png
jupyter-experiments/percentiles.csv
jupyter-experiments/values_with_markers.csv
